*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #707070;
    margin-bottom: 20px;
}
*:last-child{
    margin: 0;
}
/* Universal Style */
.flex-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 1300px;
}
.text-center{
    text-align: center;
}
section{
    margin-bottom: 80px;
}
.small-container{
    width: 850px;
}
/* Banner section Styles */
.banner-section{
    background-image:url(images/banner_bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 80vh;
}

.main-title{
    color: #ffffff;
    font-size: 60px;
    font-weight: 700;
    text-align: center;
}
.text{
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    width: 650px;
    margin: auto;
}
.donate-btn{
    background-color: #FF5959;
    padding: 15px 35px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    display: inline-block;
    border-radius: 6px;
    margin-top: 30px;
    border: 1px solid #FF5959;
}
.donate-btn:hover{
    background-color: #cc4040;
    border: 1px solid #cc4040;
    
}
/* Donate Today section */
.flex-column{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.sub-title{
    color: #121212;
    font-size: 45px;
    font-weight: 700;
    text-align: center;
}
.amount-text{
    text-align: center;
}
.amount-box{
    background: #f2f2f2;
    padding: 38px 25px;
    margin: 15px;
    border-radius: 8px;
}
.amount-title{
    color: #707070;
    font-size: 30px;
    font-weight: 700;
}
.amount-box-container{
    margin-top: 30px;
}
#active-box{
    background: #FFEEEE;
    border: 2px solid #FF5959;
}
#active-title{
    color: #FF5959;
}

.custom-amount-field{
    width: 100%;
    display: block;
    margin-top: 40px;
    border: 0;
    border-bottom: 1px solid #DADADA;
}
.donate-submit-btn{
    margin-top: 20px;
}
::placeholder{
    color: #B3B3B3;
    text-align: center;
}
/* Donate Planning styles */
.third{
    width: 33.33%;
    padding: 55px 20px;
    margin: 15px;
    border-radius: 10px;
}
.plan-1{
    background: rgba(79, 157, 166, 0.1);
}
.plan-2{
    background:rgba(255, 89, 89, 0.1);
}
.plan-3{
    background: #FFF4D6;
}
.donate-plan-box{
    align-items: stretch;
    margin-top: 20px;
}
.plan-title{
    color: #121212;
    font-size: 24px;
    
}
/* achievement  styles */
.achievement-container{
    box-shadow: 0 5px  20px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 60px 40px;
}
.achievement-item{
    margin: 0 20px;
}
.achievement-item > h2{
    margin: 0 15px;
    color: #FF5959;
    font-size: 45px;
    font-weight: 600;
}
.achievement-item > p{
    color: #121212;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
}
/* newsletter */
#email{
    margin: 0  20px;
    width: 45%;
    border: 1px solid #ffffff;
    padding: 20px;
    border-radius: 10px;
}
#submit{
    width: 20%;
    border: 1px solid  #FF5959;
    background-color: #FF5959;
    color: #fff;
    font-size: 16px;
    padding: 20px;
    border-radius: 10px;
}
.news-box{
    padding: 75px;
    background:rgba(255, 89, 89, 0.1);
    border-radius: 10px;
}
/* footer */
footer{
    background-color: #0B0D17;
    padding: 60px 20px;
    margin: 0;
}